@font-face {
    font-family: "Proxima-medium";
    src: url('/fonts/proximanovamedium.otf');
}
/* .headdd{
    font-family:'Proxima-medium';
} */
body{
    margin: 0px;
}
.horizontal-divider{
    margin-top: 80px;
    opacity: .2;
}